
!/gradle/wrapper/gradle-wrapper.jar
*.ap_
*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
*.log
*.swp
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.classpath
.externalNativeBuild
.gradle
.gradle/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/scopes/scope_settings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.idea/caches/
.mtj.tmp/
.navigation/
.project
.signing/
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
/local.properties
/out/
Thumbs.db
atlassian-ide-plugin.xml
bin/
build/
captures/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
ehthumbs.db
fabric.properties
freeline.py
freeline/
freeline_project_description.json
gen-external-apklibs
gen/
hs_err_pid*
local.properties
obj/
out/
profiles_settings.xml
proguard/
